* {
    background: #000;
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;


}

.lowercase {
    font-size: large;
    font-weight:bolder;
    color: mediumvioletred;
    position: absolute;
    top: 70px;
}

.fa-user {
    color: #FFFFFF;
    font-size: large;
    background: linear-gradient(95deg, #FFFFFF -343.09%, rgba(255, 255, 255, 0) 110.96%);
    padding: 10px;
    border-radius: 18px;
    z-index: 1;
}

.fa-user:hover {
    border: 1px #FFFFFF inset;
}

.position img {
    position: absolute;
    right: 108px;
    top: 82px;
    height: 7px;
    width: 7px;
    z-index: 3;
}

.position {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.position h1 {
    font-family: sans-serif;
    font-size: xx-large;
}

.picture-part {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.text-box {
    margin: auto;
    width: 40%;
}

.picture {
    margin-left: 90px;
    width: 500px;
    height: 700px;

}

.upper-text-part p {
    line-height: 12px;
    font-family: monospace;
    font-size: 10px;
    font-weight: 500;
    opacity: 0.5;
    letter-spacing: 1px;
}

.upper-text-part h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 4px;
    margin-top: -8px;
}

.horizontal-first {
    width: 600px;
    opacity: 0.2;
    height: 0px;
}

.horizontal-second {
    width: 600px;
    opacity: 0.2;
    height: 0px;
}

.project-detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -70px;
    margin-top: -9px;
    margin-bottom: -9px;
}

.project-detail p {
    font-family: monospace;
    font-size: x-small;
    letter-spacing: 1px;
    opacity: 0.5;
}

.project-detail h3 {
    font-family: 'Oswald', sans-serif;
    margin-top: -8px;
    opacity: 0.9;
    font-size: 12px;
    letter-spacing: 1px;
}

.box-time-text {
    text-align: start;
    margin-left: 25px;
    padding: 2px;
}

.price-detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 360px;

}

.price-detail h1 {
    font-weight: bolder;
    margin-top: -15px;
}

.price-detail p {
    font-size: small;
    letter-spacing: 1px;
    opacity: 0.5;
}

.pay-text {
    margin-left: 30px;
    font-size: small;
    letter-spacing: 1px;
    opacity: 0.5;
    margin-top: 50px;
}

.pay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 260px;

}

.stripe {
    width: 100px;
    height: 45px;
}

.paypal {
    background: rgba(255, 31, 31, 0.09);
    border: 0.2px #E47298 inset;
    border-radius: 10px;
    padding: 10px;
    width: 110px;
    height: 28px;
}

.fa-check {
    color: #000;
    font-size: xx-small;
    padding: 2px;
    border-radius: 10px;
    background: radial-gradient(86.07% 145.35% at 28.05% 86.07%, #3E67FF 0%, #E47298 100%);
    position: absolute;
    margin-left: -7px;
    margin-top: -5px;
}

.fa-stop {
    color: #FFFFFF;
}

.checkbox {
    font-size: small;
    letter-spacing: 1px;
    opacity: 0.5;
    margin-left: 28px;
    margin-top: 70px;
}

.button-part {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 250px;
}

.buy-now {
    background: radial-gradient(86.07% 145.35% at 28.05% 86.07%, #3E67FF 0%, #E47298 100%);
    width: 170px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;

}

.call-back {
    background: rgba(255, 31, 31, 0.11);
    border-radius: 10px;
    border: 0.2px solid #E47298;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 130px;
    margin-left: 10px;
}

.box {
    border: 1px groove #FFFFFF;
    margin-top: 50px;
}

/* investment box part start */
.investment {
    border: 0.2px groove #FFFFFF;
    width: 84%;
    margin-left: 90px;
    margin-top: 50px;
}

.investment p {
    font-size: small;
    opacity: 0.7;
    letter-spacing: 1px;

}

.investment h3 {
    font-size: medium;
}

.investment-title {
    margin-left: 60px;
    border: none;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-weight: 700;
}

.investment-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 20px;
}

.middle-horrizontal {
    width: 90%;
    margin: auto;
    opacity: 0.2px;
}

.icon {
    margin-left: 350px;
}

/* box-with-pic */
.box-with-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
    padding: 45px;
}

.discord {
    border: 1px groove #FFFFFF;
    background-color: #222222;
    text-align: center;
    width: 300px;
    height: 300px;
}

.discord h3 {
    font-size: x-large;
    background: #222222;
    margin-bottom: 120px;
}

.link {
    border: 1px groove #FFFFFF;
    background: #2F2F2F;
    text-align: center;
    width: 300px;
    height: 300px;
}

.link h3 {
    font-size: x-large;
    background: #2F2F2F;
    margin-bottom: 120px;
}

.chain {
    border: 1px groove #FFFFFF;
    background-color: #222222;
    text-align: center;
    width: 300px;
    height: 300px;
}

.chain h3 {
    font-size: x-large;
    background: #222222;
    margin-bottom: 120px;
}

.fa-discord {
    background-color: #222222;
}

.social-icon {
    background: #2F2F2F;
}

#social-icon1 {
    background: #2F2F2F;
}

#social-icon2 {
    background: #2F2F2F;
}

#social-icon3 {
    background: #2F2F2F;
}

.fa-arrow-right {
    background: #222222;
}

.last-hr {
    margin: 35px;
    width: 75%;
    margin-left: 150px;
}

.more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.more {
    margin-left: 100px;
}

.more h3 {
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.image {
    background-color: #272C33;
    padding: 8px;
    border-radius: 25px;
}

.projects {
    background-color: #3d3d3d;
    border-radius: 35px;
    width: 300px;
    height: 380px;
}

.paint {
    border-radius: 35px;
    width: 93%;
    margin-left: 10px;
    margin-top: 13px;
    margin-bottom: 10px;

}

.profile {
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: flex-start;
    margin-right: 30px;
    margin-top: -12px;

}

.profile img {
    background-color: #3d3d3d;
    margin-top: -10px;
    width: 50px;
    height: 50px;
    margin-right: -10px;
    margin-left: 10px;
}

.pro {
    background-color: #3d3d3d;
    margin-left: 30px;
}

.pro-text1 {
    background-color: #3d3d3d;
    margin-top: -5px;
    opacity: 0.8;
}

.pro-text2 {
    background-color: #3d3d3d;
    margin-top: -18px;
    opacity: 0.5;
}

.last-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: -25px;
    border-radius: 20px;
    line-height: 8px;
}
.last-display h4{
    margin-top: -5px;
    font-size: small;
    opacity: 0.8;
    
}
.last-display h6{
    background: radial-gradient(86.07% 145.35% at 28.05% 86.07%, #3E67FF 0%, #E47298 100%);
    border-radius: 20px;
    text-align: center;
    font-size: small;
    margin-top: 5px;
    padding: 8px;
    margin-right: 15px;
}

.display {
    width: 88%;
    background-color: #000;
    border-radius: 100px;
    margin-left: 18px;
    margin-top: -8px;
    margin-bottom: -25px;
    
}
.last-part{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 80px;
}
.last-button{
    border: 1px solid #FFFFFF;
    text-align: center;
    border-radius: 30px;
    width: 10%;
    margin: auto;
    font-size: medium;
    opacity: 0.7;
    padding: 18px;
}
.button{
    margin-top: 80px;
    margin-bottom: 100px;
}
.footer{
    display: flex;
    justify-content: start ;
    align-items: flex-start;
    margin-left: 20px;
    margin-bottom: 30px;
}
.footer p{
    margin-left: 75px;
    opacity: 0.5;
}